@model IEnumerable<CryptoManager.Models.InvestmentListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Investments</h2>

<p>
    @Html.ActionLink("New Investment", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Crypto ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tokens)
        </th>
        <th>
            Initial Investment Price
        </th>
        <th>
            Purchase Date
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CryptoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tokens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Buy/Sell", "Edit", new {  id=item.InvestmentId }) |
                @Html.ActionLink("Investment Details", "Details", new { id=item.InvestmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.InvestmentId })
            </td>
        </tr>
    }

</table>
